.navButtons {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-left:8%;
    height:50px;
    width:10%;
    font-size:30px;
    font-family:'Lato';
    color: black;
}

.navButtons:hover {
    background: lightgray;
    font-weight: bold;
}

.HomePicture img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.HomeDiv {
    height: 100vh;
    width:100%;
}

.IntroductionText {
    position:absolute;
    font-size: 8vh;
    margin-top: 15vh;
    margin-left: 15vh;
}

.AboutMeContainer {
    background-color: lightgray;
    margin:auto;
    width:60%;
    border: 5px solid blue;
    padding:10px;
}

.AboutMeIcon {
    background: lightblue;
    width: 50%;
    height: 100%;
}

.PersonalPicture {
    border-radius: 100%;
}