.navTitle {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    height:50px;
    width:0 auto;
    font-size:50px;
    margin-right: 55%;
    font-family: 'Brush Script MT', cursive;
}

.startButton {
    background-color:transparent;
    border-color: white;
    background-repeat:no-repeat;
    border-radius:5px;
    cursor:pointer;
    font-size:60px;
    font-family: 'Brush Script MT', cursive;
    color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 100px;
}

.navButtons {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height:50px;
    width:5%;
    font-size:30px;
    font-family: 'Brush Script MT', cursive;
    color:black;
}

.navButtons:hover {
    font-weight: bold;
}

.navDiv {
    opacity:0.8;
}

.VideoBackground img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.HomeDiv {
    height: 100vh;
    width:100%;
}

.IntroductionText {
    position:absolute;
    font-size: 75px;
    color: white;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 325px;
    height: 300px;
}


