.TrafficContainer {
    display: flex;
}

.map {
    position: relative;
}

.TrafficInfoTitle {
    font-family: 'Brush Script MT', cursive;
    font-size: 5vh;
}

.TrafficInfo {
    background-color: lightgrey;
    height:100vh;
    width:30%;
}
